<h3>Worker's Record for: <%= @user.name.capitalize %></h3>

<p>
  <strong>Title:</strong>
  <%= @worker.title %>
</p>

<p>
  <strong>Department:</strong>
  <%= @worker.dept %>
</p>

<p>
<% if @worker.nil? %>
  <%= link_to "Add Worker", new_user_worker_path(@user) %>
<% end %>
| <%= link_to "Edit Worker", edit_user_worker_path(@user, @worker) %>
| <%= link_to "All Workers", user_workers_path(@user) %>
| <%= link_to "Delete", user_worker_path(@user, @worker), data: { turbo_method: :delete } %>
</p>